header {
  padding: 50px 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: black;

  .header--container {
    width: 95%;
    // padding: 0 10px;
    display: flex;
    position: fixed;
    // opacity: 0.7;

    .logo {
      font-size: 40px;
      font-family: "Poppins", sans-serif;
    }

    .nav--links {
      margin-left: auto;
      padding-top: 20px;
      .nav--link {
        color: #ffffff;
        margin: 0 10px;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
      }

      .nav--link:hover {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 800px) {
  header {
    padding: 15px 30px;
  }
}

@media (max-width: 500px) {
  header {
    padding: 5px 5px;
    .header--container {
      .logo {
        font-size: 25px;
      }
      .nav--links {
        display: none;
      }
    }
  }
}
