.third-page {
  height: 100vh;
  background-color: rgb(255, 255, 255);

  // border: 1px solid black;

  .third-page--container {
    max-width: 95%;
    // height: 100%;
    display: flex;
    margin: auto;

    .article {
      width: 50%;
      height: 50%;
      padding: 0 30px;
      margin-top: 30vh;
      // border: 1px solid black;

      .article--heading {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;

        font-size: 1.5rem;
        margin-top: 0;
        color: #000000;

        p {
          margin-top: 0;
        }
      }
      .h1--container {
        .article--description {
          // padding-right: 50px;
          margin: 1rem 0;
          font-family: "Questrial", sans-serif;
          // font-family: "PT Sans", sans-serif;

          font-size: 21px;
          line-height: 1.3;
          text-align: justify;
          color: #000000;
          font-weight: lighter;
        }

        .learn-more--btn {
          font-family: "Poppins", sans-serif;
          font-weight: lighter;
          font-size: 15px;
          padding: 10px 25px;
          border-radius: 40px;
          background-color: rgb(255, 255, 255);
          color: rgb(0, 0, 0);
          border: none;
          // margin-left: auto; /* Center horizontally */
          border: 1px solid rgb(0, 0, 0);
          margin-top: 2rem;
        }
      }

      .learn-more--btn:hover {
        border: 1px solid rgb(0, 0, 0);
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        transition: 0.3s;
        cursor: pointer;
      }
    }

    .particle-motion {
      margin-top: 0;
      width: 50%;
      height: 100%; //need to fix later
      // background-color: rgb(0, 0, 0);
    }
  }
}

@media (max-width: 900px) {
  .third-page {
    .third-page--container {
      flex-direction: column;

      .article {
        width: 90%;
        margin-bottom: 3rem;

        .learn-more--btn {
          margin: 0 auto; /* Center horizontally */
          display: block;
        }
      }

      .particle-motion {
        width: 100%;
      }
    }
  }
}
