.about--container {
  //   padding-top: 10vh;
  //   border: 1px solid white;
  height: 100%;
  padding: 20vh 0;

  .header--container {
    // border: 1px solid white;
    text-align: end;
    display: flex;

    img {
      width: 10rem;
    }
    a {
      margin: 10px 20px;
      font-family: "Questrial", sans-serif;
      text-decoration: none;
      font-size: 8rem;
      color: transparent;
      -webkit-text-stroke: 2px #ffffff;
    }
  }
}
