.fourth-page {
  height: 100vh;
  // overflow: hidden;
  background-color: white;
  // border: 1px solid black;

  .experiments--container {
    width: 95%;
    margin: 10vh auto;
    border: 1px solid red;

    .experiments--heading--container {
      border: 1px solid green;
      margin: 0;
      .experiments--heading {
        padding: 0;

        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-size: 4rem;
        font-weight: 300;
        display: flex;
        justify-content: center;
        color: rgb(0, 0, 0);

        h3 {
          font-family: "Questrial", sans-serif;
          padding: 0;
          margin: 10px 0;
          -webkit-text-stroke: 2px #000000;
          color: transparent;
          font-size: 5rem;
        }
      }
    }

    .experiments--heading:hover {
      cursor: pointer;
    }

    .card-section {
      border: 1px solid purple;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 30px;
      // grid-row-gap: 10px;
      // padding: 0 10px;
      // border: 1px solid red;
      overflow: hidden;

      .experiments--card {
        width: 100%;
        height: 80%;
        border: none;
        // display: flex;
        justify-content: center;
        align-items: center;
        // overflow: hidden;
        // border-radius: 20px;

        img {
          flex-shrink: 0;
          width: 100%;
          height: 99%;
          object-fit: cover;

          transition: 0.5s;
        }

        img:hover {
          cursor: pointer;
        }

        .description--container {
          width: 100%;
          text-align: center;
          // border: 1px solid black;
          font-family: "Poppins", sans-serif;
          margin-top: 10px;

          a {
            text-decoration: none;
            color: black;

            p {
              padding: 0;
              margin: 10px 0;
            }
          }
        }

        .experiments--heading:hover {
          cursor: pointer;
        }

        .card-section {
          display: grid;

          grid-template-columns: repeat(2, 1fr);
          // grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 30px;
          // grid-row-gap: 10px;
          // padding: 0 10px;

          // border: 1px solid red;
          overflow: hidden;

          .experiments--card {
            width: 100%;
            height: 80%;
            // border: none;
            // display: flex;
            justify-content: center;
            align-items: center;
            // overflow: hidden;
            // border-radius: 20px;

            img {
              flex-shrink: 0;
              width: 100%;
              height: 99%;
              object-fit: cover;

              transition: 0.5s;
            }

            img:hover {
              cursor: pointer;
            }

            .description--container {
              width: 100%;
              text-align: center;
              // border: 1px solid black;
              font-family: "Poppins", sans-serif;
              margin-top: 10px;

              a {
                text-decoration: none;
                color: black;

                p {
                  font-weight: 600;
                  font-size: 20px;
                  padding: 0;
                  margin: 0;

                  img {
                    width: 20px;
                    margin-left: 10px;
                  }
                }
              }
            }
          }

          .card-1 {
            grid-area: 1 / 1 / 2 / 2;
          }
          .card-2 {
            grid-area: 1 / 2 / 2 / 3;
          }
          // .card-3 {
          //   grid-area: 2 / 1 / 3 / 2;
          // }
          // .card-4 {
          //   grid-area: 2 / 2 / 3 / 3;
          // }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  // images should take 100% width
}
